/*

Стили, прописанные Дмитрием Бадиковым

например ты внес изменения и после этого нажо сделать сначала коммит
таким образом ты фиксируешь свои изменения у себя на компе
продолжаем типа дальше делать меняем и еще что-то и делатем коммит
*/


@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

/*---open menu---*/
.wrapper-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #000;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}


/*---offer---*/


    


.offer__progress-bar{
    margin-top: 89px;
    margin-left: 132px;
}


.h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 55px;
    color: #2B2B2B;    
}

.offer__bar-text{
    margin-right: 135px;

}

.offer__bar-progress{
    border: 1px solid #DADADA;
    height: 11px;   
}

.offer__bar-money-item-yelow{
    margin-right: 165px;
     color: #F4CE77;
     font-size: 15px;
}

.offer__bar-money-item-red{
    color: #E20613;
    font-size: 15px;
}

.offer__bar-progress-yelow{
    border: none;
    border-top: 5px solid #F4CE77;
    width: 35%;
    margin-top: 2px;
    margin-left: 3px;

}

.offer__bar-progress-red{
    border: none;
    border-top: 5px solid #E20613;
    width: 65%;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.offer__red-line {
    border: none;
    border-top: 28px solid #E20613;
    width: 220px;
    position: absolute;
    border-radius: 4px;
    left: 9px;
   } 

.heart__big{
    margin-left: 78px;
}

.offer__date{
    margin-top: 16px;
    position: absolute;
    left: -124px;
    width: 107px;
    line-height: 3;

}
.offer__red-help{
   margin-left: 132px; 
   margin-top: 24px;
}

.offer__date p:before {
    background-color: #F4CE77;
    display: block;
    content: "";
    height: 2px;
    line-height: 4;
    
}

.offer__help{
    margin-top: 97px;
}

.offer__help-item-text{
 font-family: 'Cormorant Garamond', serif;
 font-size: 17px;
}

.up_text{
 font-family: 'Cormorant Garamond', serif;
 font-size: 24px;
 
}


.offer__help-seek-line{
    border: none;
    border-top: 2px solid #F4CE77;
    width: 72px;    
    border-radius: 1px;   
    margin-top: -11px;
}

.offer__help-seek-img-text{
    margin-left: 345px;
}


img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1024px) { 
   

    .offer__title-text {       
        font-size: 40px;       
    }

    .offer__help {
        margin-top: 129px;
    }

    .offer__red-help {
        margin-left: 75px;       
    }

    .offer__red-line {       
        width: 163px;       
    }

    .offer__progress-bar {   
        margin-left: 80px;
    }

    

    

    .offer__help-seek-img-text {
        margin-left: 260px;
    }

    .offer__help-seek-line {   
        margin-left: 294px;       
    }

    .wl {        
        margin-right: 12px;
        margin-left: 17px;
    }

    .header__text-vol a:before {   
        right: 3px;
    }

    .header__text-help a:before {    
        right: 18px;
    }


}


@media screen and (max-width: 768px) { 

   
    .wrapper-menu{
        display: none;
    }

     .offer__title-text {
       font-size: 36px;        
    }

    .offer__help {
        margin-top: 21px;
    }

    .offer__progress-bar {
        margin-top: 1px;
        margin-left: 188px;
    }

    .offer__red-line {      
        left: 129px;
    }

    .offer__red-help {
        margin-left: 250px;       
    }

    .offer__date {
        margin-top: 17px;
        position: absolute;
        left: 27px;
        width: 88px;
        line-height: 3;      
    }

    .help__img {
        width: 70%;
    }

    .footer__logo {   
        text-align: center;
    }

    .footer__text {
        margin-top: 15px;
        font-size: 10px;
        text-align: center;
    }

    .wl {
       
        margin-right: 82px;
        margin-left: 83px;
    }

    .footer__place {
    margin-top: 15px;    
    display: table;
    margin: auto;
}

.offer__help-seek-img-text {
    margin-left: 384px;
}

.offer__help-seek-line {
    margin-left: 510px;
}

}

@media screen and (max-width: 360px) { 

      .wrapper-menu{
        display: flex;
    }

    

    .wl {
            margin-right: 22px;
    margin-left: 24px;
    }

    .wrapper-menu { 
    margin-left: 248px;
    margin-top: 25px;
    }

    .logo{
        width: 100%;
    }

   
    .offer__title-text {
     font-size: 18px;    
    }

    .offer__date {
    margin-top: 17px;
    position: absolute;
    left: 7px;
    width: 77px;
    line-height: 3;
}

    .helpp {    
    width: 100%;
    }

    .offer__help {
    margin-top: 2px;
    }

    .offer__date-text{
        font-size: 9px;
    }

    .offer__progress-bar {
    margin-top: 20px;
    margin-left: 2px;    
    }
    .offer__red-line {
        width: 0px;
        left: 0px;
    }

    .heart__big {
    margin-left: -180px;    
    }

    .help__img {
    width: 100%;
    }

    .offer__help-seek-img-text {
    margin-left: 229px;
    }

    .offer__help-seek-line {  
    margin-left: 255px;
    margin-top: -11px;
    }
}



@media screen and (max-width: 320px) { 
    .header__menu-nav{
        flex-direction: column;
        margin-left: 0px;
    }

    .header__menu-item a {   
        line-height: 3;
        
    }

    .wl {
        margin-right: 10px;
        margin-left: 16px;
    }

    .wrapper-menu { 
    margin-left: 248px;
    margin-top: 25px;
    }

    .logo{
        width: 100%;
    }

    .header__menu {   
     display: none;   
    text-align: center;
    }

    .header__text-help {  
    text-align: center;
    }

    .header__text-vol {    
    text-align: center;
    }

    .header__text-help a:before {  
    right: 85px;
    }

    .header__text-vol a:before {    
    right: 77px;
    }

    .header__red {    
    text-align: center;
    }

    .offer__title-text {
     font-size: 18px;    
    }

    .offer__date {
    margin-top: 17px;
    position: absolute;
    left: 7px;
    width: 77px;
    line-height: 3;
}

    .helpp {    
    width: 100%;
    }

    .offer__help {
    margin-top: 2px;
    }

    .offer__date-text{
        font-size: 9px;
    }

    .offer__progress-bar {
    margin-top: 20px;
    margin-left: 2px;    
    }
    .offer__red-line {
        width: 0px;
        left: 0px;
    }

    .heart__big {
    margin-left: -180px;    
    }

    .help__img {
    width: 100%;
    }

    .offer__help-seek-img-text {
    margin-left: 181px;
    }

    .offer__help-seek-line {  
    margin-left: 211px;
    margin-top: -11px;
    }
}


