

Стили, прописанные Королевым Иваном

*/


h2 + .yellowLine{
	margin-bottom: 46px;
}

main {

	margin: 0 auto;
	margin-top: 70px;

}

/*main p,
span {
	font-size: 12px;
}*/



.infoBlock {
	width: 637px;
	height: 267px; 
	/*height увеличил на 10*/
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	border: 1px solid #979797;
	border-radius: 2px;
	margin-bottom: 50px;
}

.infoBlock .photo {
	margin: 13px 100px 57px 10px;


}

.infoBlock .photo img{
	width: 300px;
	height: 187px;
}


.yellowLine {
	width: 60px;
	height: 1px;
	background: #F4CE77;
	border-radius: 1px;
	margin-top: 21px;
	margin-bottom: 20px;
}

.info a {
	margin-left: 155px;
	font-size: 12px;
	color: #4C4C4C;
}

.money {
	display: flex;
	flex-direction: column;
	position: relative;
}

.sum {
	color: #F4CE77;
	font-size: 15px;
	padding: 4px 0;
}

.contBigLine {
	display: flex;
	align-items: center;
	border: 0.75px solid #CACACA;
	border-radius: 2px;
	width: 183px;
	height: 9px;
}

.bigLine {
	width: 100%;
	height: 5px;
	background: #F4CE77;
	border-radius: 2px;

}

.contBigLineTwo {
	display: flex;
	align-items: center;
	border: 0.75px solid #CACACA;
	border-radius: 2px;
	width: 220px;
	height: 9px;
	padding-right: 8px;
}

.bigLine img {
	position: relative;
	left: 185px;
	top: -14px;
}


.needHelpBlock {
	width: 238px;
	height: 503px;
	/*height +10px*/
	border: 1px solid #979797;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 8px;
}

.needHelpBlock a {
	margin-left: 155px;
	color: #4C4C4C;
	font-size: 12px;

}

.needHelpBlock h3 {
	margin-top: 30px;
}

.needHelpBlock img {
	margin-top: 18px;
	margin-bottom: 25px;
	width: 220px;
}


.legend {
	display: flex;
	justify-content: space-between;
}

.number {
	display: flex;
	justify-content: space-between;
}

/*.redYellowLine {
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #F4CE77 40%, #ffffff 40%, #ffffff 45%, #f60609 45%);
	border-radius: 2px;

}

.redYellowLine img {
	position: relative;
	left: 185px;
	top: -14px;
}*/


.remained {
	color: #E20613;
}

.btnNeedHelp{
	margin-left:0 !important;
	margin-top: 10px;

}

/*полоса сбора средств*/

.money>.mb-5{
	margin:0 !important;
}

/*.whiteBut img {
	position: absolute;
	top: -18.3px;
	left: 93%;

}