/*

Стили, прописанные Александром Вестеровским

*/

/*типографика для страницы контакты*/
.contacts-wrapper {
  line-height: 26px !important;
}

.contacts-h2 {
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 58px;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}

.contacts-h3 {
  padding: 0 20px;
  text-align: left;
}

.contacts-h4 {
  text-align: left;
}

.size20 {
  font-size: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.contacts-b {
  font-size: 22px;
/*  font-family: 'Cormorant Garamond', serif;*/
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.contacts-link {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  white-space: nowrap;
}





/***** Контакты *****/
.contacts-block-top {
  position: relative;
}

.list-group {
  flex-direction: row;
}

.list-group,
.list-group-item {
  flex-grow: 1;
  border: none;
}


/*партнёры-волонтёры*/
.partner {
}

.volunteer {
}


/***** Форма *****/
.border-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.border-textarea {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.label-font {
  font-size: 12px;
}

.volunteer-btn {
  display: block;
  margin: 0 auto;
}



/***** Блок реквизиты *****/

.requisites {
  border: 1px solid #979797;
  border-radius: 3px;
  padding-top: 40px;
  padding-bottom: 10px;
  align-self: flex-start;
}

.requisites-text {
  font-size: 16px;
  white-space: normal;

}

.requisites-text-header {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
  white-space: normal;

}

.requisites-btn {
  position: relative;
  border-top: 1px solid #E20613;
  border-left: 1px solid #E20613;
  border-bottom: 1px solid #E20613;
  width: 220px;
}

.requisites-btn::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 28px;
  bottom: 0px;
  right: -17px;
  background-image: url(img/heart-btn.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}



/*Карта*/
.map {
  min-height: 300px;
  margin-top: 50px;
  background-color: #F4EEE1;
}






















@media (max-width: 991px) {
  .contacts-h2,
  .contacts-h3 {
    margin-bottom: 0;
    font-size: 25px
  }

  .requisites {
    margin: auto;
  }

  .list-group {
    flex-direction: column;
  }

  .gold-line-bottom::after {
    display: none;
  }

  .contacts,
  .partner,
  .volunteer {
    margin-bottom: 70px;
  }
}




@media (max-width: 767px) {
  .contacts-h2,
  .contacts-h3 {
    text-align: center;
  }



  .list-group-item {
    text-align: center;
  }
}







