/*

Стили, прописанные Александром Вестеровским

*/

/*Новые стили для этой страницы отдели в отдельный блок сюда, чтобы я пока не мешал тебе, когда буду переносить и править предыдущие*/










/*========================================================*/

/***** Форма *****/

.border-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.border-textarea {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

/***** Блок реквизиты *****/
.requisites {
  position: relative;
  padding-bottom: 10px;
  border: 1px solid #979797;
  border-radius: 3px;
  align-self: flex-start;
}

.gold-line-top::before{
  top: 0;
  content: '';
  border-top: 1px solid #F4CE77;
  width: 60px;
  position: absolute;
}


/*Карта*/
.map-vertical {
  height: 100%;
  background-color: #F4EEE1;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 767px) {

  .requisites {
    margin-left: 10px;
    margin-right: 10px;
  }
}







